<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Get All</title>
</head>
<body>
    <main>
        <h2>Get All</h2>
        <table>
            <thead>
                <tr>
                    <th>mopedID</th>
                    <th>name</th>
                    <th>topspeed</th>
                    <th>rating</th>
                    <th>itemsInStock</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach( moped => { %>
                    <tr>
                        <td><%=  moped.mopedId %></td>
                        <td><%=  moped.name %></td>
                        <td><%=  moped.topspeed %></td>
                        <td><%=  moped.rating %></td>
                        <td><%=  moped.itemsInStock %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/"><button>Back to Menu</button></a>
    </main>
</body>

</html>